 .trigger {
  font-size: 20px;
  padding: 0 24px;
  justify-self: flex-start;
  cursor: pointer;
  transition: color 0.3s;
  svg{
    display: none;
  }
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  margin: 15px;
}

.site-layout .site-layout-background {
  background: #fff;
}